body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;

    .card {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        h3 {
            margin-top: 0;
        }

        img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
            transition: filter 0.4s ease-out;

            &#imagen-filtrada {
                filter: none;

                &:hover {
                    filter: saturate(1.8) hue-rotate(-15deg) brightness(1.1);
                }
            }
        }
    }
}