body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px;
}

main {
    width: 90%;
    max-width: 500px;
    margin: auto;

    .imagen-fondo {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
    }

    .texto-superpuesto {
        position: relative;
        /* Subimos este bloque 150px para que se monte sobre la imagen */
        margin-top: -150px;
        /* Damos estilo al bloque */
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        /* mix-blend-mode: difference; */
        /* mix-blend-mode: overlay; */
        /* mix-blend-mode: screen; */
        /* mix-blend-mode: multiply; */
        mix-blend-mode: luminosity;
    }
}