body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 30px;

    .card {
        border: 3px solid #005A9C;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;

        .box {
            /* 1. Definimos SOLO el ancho */
            width: 300px;
            /* 2. Dejamos que aspect-ratio calcule el alto */
            border: 2px dashed #333;

            /* 3. Asignamos las proporciones */
            &#box-cuadrada {
                aspect-ratio: 1 / 1;
                
                /* El alto será 300px */
            }

            &#box-panoramica {
                aspect-ratio: 16 / 9;
                /* El alto será 300 / 1.777 = 168.75px */
            }

            /* 4. Hacemos que la imagen rellene la caja 
          (Usando lo que aprendimos de object-fit) 
    */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}