*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;   
    text-align: center;
    font-family: sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
}

/* 1. Registramos nuestras variables de color.
   Le decimos al navegador que --color-inicio y --color-fin
   SIEMPRE serán de tipo <color>.
*/
@property --color-inicio {
    syntax: '<color>';
    inherits: false;
    initial-value: #FF8F00;
}

@property --color-fin {
    syntax: '<color>';
    inherits: false;
    initial-value: #D90077;
}

.mi-boton {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: linear-gradient(90deg,
            var(--color-inicio),
            var(--color-fin));

    transition:
        --color-inicio 0.4s ease,
        --color-fin 0.4s ease;

    &:hover {
        --color-inicio: #00C9A7;
        --color-fin: #0072FF;
    }
}