div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px; border-color: yellow;}
    50%  {background-color:blue; left:200px; top:200px; border-color: blue;}
    75%  {background-color:green; left:0px; top:200px; border-color: green;}
    100% {background-color:red; left:0px; top:0px;}
}