@keyframes pulso-brillo {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 30px #3498db;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

@keyframes cambiar-forma-color {
    0% {
        background-color: #9b59b6;
        width: 150px;
        border-radius: 10px;
    }

    50% {
        background-color: #e67e22;
        width: 300px;
        border-radius: 50%;
    }

    100% {
        background-color: #9b59b6;
        width: 150px;
        border-radius: 10px;
    }
}

@keyframes temblor {
    0% {
        transform: translateX(0) rotate(0);
    }

    20% {
        transform: translateX(-8px) rotate(-3deg);
    }

    40% {
        transform: translateX(8px) rotate(3deg);
    }

    60% {
        transform: translateX(-8px) rotate(-3deg);
    }

    80% {
        transform: translateX(8px) rotate(3deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}
@keyframes demo-forwards {
    /* El 0% es el estado base (amarillo, sin transformar) */
    100% {
        /* Al terminar, será verde y más grande */
        background-color: #2ecc71; 
        transform: scale(1.2) rotate(10deg);
    }
}

@keyframes demo-backwards {
    0% {
        /* Estado inicial: pequeño y semi-transparente */
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
         /* Estado final: vuelve a la normalidad */
        transform: scale(1);
        opacity: 1;
    }
}