* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.miGrid {
    gap: 20px;
    /* Separación de cada celda del grid */
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: grid;
    /* Grid de 4 columnas y 3 filas */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 3fr 1fr 100px;
    height: 100vh;

    .item {
        /* Estilos comunes a todas las celdas */
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        padding: 20px;
        color: #333;
        font-size: 1.2rem;
    }

    .header {
        background-color: #4a90e2;
        color: white;
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .sidebar {
        background-color: #34495e;
        color: white;
        grid-row: 2/4;
    }

    .main-content {
        background-color: #f5a623;
        grid-column: 2/5;
    }

    .card-1 {
        background-color: #50e3c2;
    }

    .card-2 {
        background-color: #bd10e0;
        color: white;
        grid-column: 3/5;
    }

    .footer {
        background-color: #4a4a4a;
        color: white;
        grid-column-start: 1 ;
        grid-column-end: 5;
        /* grid-column: 1/5; */
        grid-row: 4 / 5;
    }
}