.btn-rojo {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    /* '&' se convierte en '.btn-rojo'
     La regla final es: .btn-rojo.activo (sin espacio) */
    &.activo {/* .btn-rojo.activo */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
}